<div class="container">
	<div class="row">
		<% if flash.present? %>
			<% flash.each do |key, value| %>
				<%= content_tag :div, value, :class => "flash #{key}"%>
			<% end %>
		<% end %>
	</div>
	<div class="row">
		<div class="twelve columns">
			<p id="pageTitle">Contact Us</p>
			<%= form_for :contact_us, :url => "/contact_us/send_email" do |f| %>
				<div class="field">
					<%= f.label "Your Name"%>
					<%= f.text_field :name %>
				</div>
				<div class="field">
					<%= f.label "Your Email"%>
					<%= f.text_field :email %>
				</div>
				<div class="field">
					<%= f.label "Subject" %>
					<%= f.text_field :subject %>
				</div>
				<div class="field">
					<%= f.label "Message" %>
					<%= f.text_area :message %>
				</div>
				<div class="actions">
					<%= f.submit "Send" %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="twelve columns" id="mapContainer">
			<iframe width="425" height="350" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Cosecha,+Washington+Street,+Oakland,+CA&amp;aq=0&amp;oq=cosecha+oa&amp;sll=37.870775,-122.30098&amp;sspn=0.084693,0.152092&amp;ie=UTF8&amp;hq=Cosecha,&amp;hnear=Washington+St,+Oakland,+California+94607&amp;t=m&amp;ll=37.801624,-122.274938&amp;spn=0.006437,0.006295&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Cosecha,+Washington+Street,+Oakland,+CA&amp;aq=0&amp;oq=cosecha+oa&amp;sll=37.870775,-122.30098&amp;sspn=0.084693,0.152092&amp;ie=UTF8&amp;hq=Cosecha,&amp;hnear=Washington+St,+Oakland,+California+94607&amp;t=m&amp;ll=37.801624,-122.274938&amp;spn=0.006437,0.006295" style="color:#0000FF;text-align:left">View Larger Map</a></small>
		</div>
	</div>
</div>