<!DOCTYPE html>
<html>
<head>
  <title>Cookshop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="wrapper">

				<div class="header">
					<h1>THIS IS THE HEADER</h1>
					<ul>
						<% @latest_menu = Menu.all.last unless Menu.all.empty? %>
						<li><%= link_to "Home", root_path %></li>
						<% if @latest_menu.present? %>
						<li><%= link_to "Menus", menu_path(@latest_menu)%></li>
						<% end %>
						<li><%= link_to "Reserve", "http://www.google.com"%></li>
						<li><%= link_to "Events", "http://www.google.com"%></li>
						<li><%= link_to "Contact", "http://www.google.com"%></li>
					</ul>
						
				</div>
				
				<%= yield %>

				<div class="push"></div>

	</div>
			
			
			
	<div class="footer">
		<p class="footerText">THIS IS THE FOOTER</p>
	</div>

</body>
</html>
